<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/addd.css}">
</head>
<body>
<div class="box">
    <h1>Login</h1>
    <form th:action="@{/auth/login}" method="post">
        <div class="item-details">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="item-details">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="item-details">
            <button type="submit">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a th:href="@{/auth/register}">Register here</a></p>
</div>
</body>
</html>
