<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Email</title>
    <link rel="stylesheet" type="text/css" th:href="@{/updatePhoneMail.css}">
</head>
<body>
<div class="box">
    <h1>Update Email</h1>
    <form th:action="@{/api/users/updateEmail}" method="post">
        <div class="item-details">
            <label for="email">New Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Update Email</button>
    </form>
    <button onclick="window.location.href='/'">Back</button>
</div>
</body>
</html>