/* manageOrders.css */

/* Resetowanie domyślnych stylów dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie całej strony */
html, body {
    height: 100%;
    background: #223;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

/* Stylowanie kontenera */
.box {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: solid 5px transparent;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #213, #112 5%, #112 60%, #213 95%);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Stylowanie tytułów */
h1 {
    margin-bottom: 20px;
}

/* Stylowanie tabeli */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #444;
}

th {
    background-color: #334;
}

td {
    background-color: #223;
}

/* Stylowanie przycisków */
button {
    background-color: #08f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
    animation: border-pulse 2s infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    animation: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Stylowanie formularzy */
form {
    display: inline;
}

form button {
    margin: 0 5px;
}